body {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.name-header {
  margin: 0;
}

.container-board {
  position: absolute;
  top: 40px;
  left: 25vw;
  overflow: hidden;
  height: 70vw;
  width: 70vw;
  background-color: green;
  box-shadow: 0 0 40px 2px green;
}

@media (min-width: 400px) and (min-height: 400px) {
  .container-board {
    height: 70vw;
    width: 70vw;
    top: 50px;
    left: 15vw;
  }
}

.board {
  position: absolute;
  background-color: lightgray;
  height: 4000px;
  width: 4000px;
  border: 10px solid black;
  transition: 0.2s;
}

.wanderer {
  pointer-events: none;
  position: absolute;
  width: 40px;
  height: 40px;
  transition: 0.2s;
  z-index: 1;
}

.wanderer-img {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
}

.object {
  position: absolute;
  width: 40px;
  height: 40px;
}

/* Guide */
.guide {
  position: absolute;
  top: 5vh;
  left: 0;
  height: 95vh;
  width: 15vw;
  background-color: gray;
  transition: 0.5s;
  overflow: auto;
  opacity: 1;
  font-size: 10px;
  z-index: 10;
}

.guide-btn {
  position: absolute;
  top: 0;
  left: 0;
  height: 5vh;
  width: 150px;
  text-align: center;
  background-color: lightgray;
}

.guide-btn:hover {
  cursor: pointer;
  background-color: gray;
}

.guide-item {
  width: 100%;
  height: 9vh;
  margin: 0.5vh 0;
  background-color: lightgray;
}
